# Welcome to the basics of Python
> Chapter 1 - The first Step
>> Reach us at https://topmate.io/datanddoodle

# This script introduces basic variable types such as strings, integers, floats, and booleans. 
>It also covers arithmetic operations, string manipulation, and common data structures like lists, tuples, and dictionaries. 
>>Additionally, it includes examples of boolean operations. Feel free to run this script in a Python environment to see the output.

# Variable Declaration & Assignment

In [2]:
name = "Indranil"  # String
age = 25  # Integer
height = 5.9  # Float
is_student = True  # Boolean

In [6]:
name,age,height,is_student

('Indranil', 25, 5.9, True)

# Displaying Variables

In [8]:
print("My name is :", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

My name is : Indranil
Age: 25
Height: 5.9
Is Student: True

In [7]:
print("name is :",name)

name is : Indranil

# Basic Arithmetic Operations

In [12]:
sum_result = age + 5
difference_result = age - 5
product_result = age * 2
division_result = age / 2

In [11]:
sum_result = age + 5
sum_result

30

In [13]:
print("Age + 5 =", sum_result)
print("Age - 5 =", difference_result)
print("Age * 2 =", product_result)
print("Age / 2 =", division_result)

Age + 5 = 30
Age - 5 = 20
Age * 2 = 50
Age / 2 = 12.5

# String Manipulation

In [15]:
greeting = "Hello"
location = "World"
full_greeting = greeting + ", " + location + "!"
print(full_greeting)

Hello, World!

# Lists

In [16]:
fruits = ["Apple", "Banana", "Orange","Mango","Pineapple"]
print("Fruits:", fruits)
print("First fruit:", fruits[0])

Fruits: ['Apple', 'Banana', 'Orange', 'Mango', 'Pineapple']
First fruit: Apple

In [22]:
fruits[-2]

'Mango'

In [24]:
["Apple", "Banana", "Orange"][0]

'Apple'

# Tuples

In [25]:
coordinates = (10, 20)
print("Coordinates:", coordinates)
print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

Coordinates: (10, 20)
X-coordinate: 10
Y-coordinate: 20

In [29]:
(10, 20)[0],(10, 20)[-1]

(10, 20)

# Dictionaries

In [31]:
person = {
    "name": "Alice",
    "location": "Alice",
    "age": 30,
    "tip": 30,
    "is_student": False
}
print("Person:", person)
print("Person's name:", person["name"])
print("Person's age:", person["age"])
print("Is person a student?", person["is_student"])

Person: {'name': 'Alice', 'location': 'Alice', 'age': 30, 'tip': 30, 'is_student': False}
Person's name: Alice
Person's age: 30
Is person a student? False

In [32]:
person["location"]

'Alice'

# Boolean operations

In [33]:
is_adult = age >= 18
is_teenager = age >= 13 and age < 18

print("Is adult?", is_adult)
print("Is teenager?", is_teenager)

Is adult? True
Is teenager? False