# Introduction to Pandas
> Chapter 3 - Basics of Pandas
>> Pandas is a powerful library for data manipulation and analysis in Python. Here's a simple script introducing some basic Pandas functionality for beginners:
>>> Reach us at https://topmate.io/datanddoodle

This script covers creating a DataFrame, basic DataFrame operations, accessing columns, adding new columns, filtering data, sorting data, and basic grouping and aggregation. Additionally, it briefly mentions reading data from and exporting data to a CSV file. Feel free to run this script in a Python environment to see the output. If you have a CSV file with similar data, uncomment the relevant lines to explore reading and exporting functionality.

# Import Pandas library

In [2]:
import pandas as pd

# Creating a DataFrame from a Dictionary

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']
}

df = pd.DataFrame(data)
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Emily   22         Boston

# Displaying the DataFrame

In [5]:
print("DataFrame:")
print(df)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Emily   22         Boston

# Basic DataFrame Operations

In [4]:
print("\nDataFrame Information:")
print(df.info())

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

In [5]:
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
             Age
count   5.000000
mean   30.400000
std     7.300685
min    22.000000
25%    25.000000
50%    30.000000
75%    35.000000
max    40.000000

# Accessing Columns

In [8]:
print("\nColumn 'Name':")
print(df['Name'])

Column 'Name':
0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: Name, dtype: object

# Adding a new column

In [11]:
df['IsStudent'] = [False, True, False, True, False]
print("\nDataFrame with IsStudent Column:")
print(df)

DataFrame with IsStudent Column:
      Name  Age           City  IsStudent
0    Alice   25       New York      False
1      Bob   30  San Francisco       True
2  Charlie   35    Los Angeles      False
3    David   40        Chicago       True
4    Emily   22         Boston      False

# Filtering data

In [12]:
students_only = df[df['IsStudent'] == True]
print("\nStudents Only:")
print(students_only)

Students Only:
    Name  Age           City  IsStudent
1    Bob   30  San Francisco       True
3  David   40        Chicago       True

# Sorting Data

In [14]:
sorted_df = df.sort_values(by='Age', ascending=False)
print("\nSorted by Age (Descending):")
print(sorted_df)

Sorted by Age (Descending):
      Name  Age           City  IsStudent
3    David   40        Chicago       True
2  Charlie   35    Los Angeles      False
1      Bob   30  San Francisco       True
0    Alice   25       New York      False
4    Emily   22         Boston      False

In [12]:
# Reading data from a CSV file
# Assume you have a CSV file named 'data.csv' with similar data
# Uncomment the following lines to run this part of the script
# df_from_csv = pd.read_csv('data.csv')
# print("\nDataFrame from CSV:")
# print(df_from_csv)

# Exporting data to a CSV file
# Uncomment the following line to run this part of the script
# df.to_csv('exported_data.csv', index=False)

# Grouping and Aggregation

In [15]:
city_grouped = df.groupby('City').mean()
print("\nGrouped by City with Mean Aggregation:")
print(city_grouped)

Grouped by City with Mean Aggregation:
                Age  IsStudent
City
Boston         22.0        0.0
Chicago        40.0        1.0
Los Angeles    35.0        0.0
New York       25.0        0.0
San Francisco  30.0        1.0

# Method Chaining in Pandas
>Method chaining is a technique in Pandas where multiple operations are combined into a single, more concise line of code. It often makes the code more readable and avoids the need for intermediate variables. Here's an example of method chaining in a Pandas DataFrame:

In [16]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']
}

df = pd.DataFrame(data)

# Method chaining example
result = (
    df
    .assign(Salary=np.random.randint(50000, 100000, size=len(df)))  # Adding a 'Salary' column
    .query('Age > 30')  # Filtering rows where Age is greater than 30
    .sort_values(by='Age', ascending=False)  # Sorting by Age in descending order
    .reset_index(drop=True)  # Resetting the index
    .rename(columns={'Name': 'Full Name'})  # Renaming the 'Name' column
    [['Full Name', 'Age', 'City', 'Salary']]  # Selecting specific columns
)

print(result)

  Full Name  Age         City  Salary
0     David   40      Chicago   79927
1   Charlie   35  Los Angeles   53999

In this example:

>assign: Adds a new 'Salary' column with random salary values.
>>query: Filters the DataFrame to keep only rows where Age is greater than 30.
>>>sort_values: Sorts the DataFrame by Age in descending order.
>>>>reset_index: Resets the index of the DataFrame.
>>>>>rename: Renames the 'Name' column to 'Full Name'.
>>>>>>Selects specific columns using double square brackets.
>The operations are chained together using the dot (.) notation, making the code more concise and readable. Adjust the operations based on your specific requirements.

# Summarizing Data using Pandas
Summarizing data using all Pandas functions would be quite extensive, as Pandas has a rich set of functions for data exploration and summary. However, I can provide you with a script that covers a variety of Pandas functions for data summarization. 
> This script uses a sample dataset and demonstrates some common summary operations:

In [17]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston'],
    'Salary': [60000, 75000, 90000, 80000, 55000],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'HR']
}

df = pd.DataFrame(data)

# Displaying the DataFrame

In [18]:
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City  Salary Department
0    Alice   25       New York   60000         HR
1      Bob   30  San Francisco   75000         IT
2  Charlie   35    Los Angeles   90000  Marketing
3    David   40        Chicago   80000         IT
4    Emily   22         Boston   55000         HR

# Info - information about the DataFrame

In [17]:
print("\nDataFrame Information:")
print(df.info())

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   City        5 non-null      object
 3   Salary      5 non-null      int64
 4   Department  5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes
None

# Head - Display the first few rows

In [19]:
print("\nFirst 3 Rows:")
print(df.head(3))

First 3 Rows:
      Name  Age           City  Salary Department
0    Alice   25       New York   60000         HR
1      Bob   30  San Francisco   75000         IT
2  Charlie   35    Los Angeles   90000  Marketing

# Tail - Display the last few rows

In [20]:
print("\nLast 2 Rows:")
print(df.tail(3))

Last 2 Rows:
      Name  Age         City  Salary Department
2  Charlie   35  Los Angeles   90000  Marketing
3    David   40      Chicago   80000         IT
4    Emily   22       Boston   55000         HR

# Shape - Number of rows and columns

In [20]:
print("\nNumber of Rows and Columns:")
print(df.shape)

Number of Rows and Columns:
(5, 5)

# Columns - Display column names

In [21]:
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['Name', 'Age', 'City', 'Salary', 'Department'], dtype='object')

# Value counts - count of unique values in a column

In [22]:
print("\nValue Counts for 'Department' column:")
print(df['Department'].value_counts())

Value Counts for 'Department' column:
HR           2
IT           2
Marketing    1
Name: Department, dtype: int64

# Groupby - group data and calculate aggregate functions

In [23]:
grouped_data = df.groupby('Department').agg({'Age': 'mean', 'Salary': 'sum'})
print("\nGrouped Data (Average Age, Total Salary by Department):")
print(grouped_data)

Grouped Data (Average Age, Total Salary by Department):
             Age  Salary
Department
HR          23.5  115000
IT          35.0  155000
Marketing   35.0   90000

# Crosstab - cross-tabulation of two or more factors

In [24]:
cross_tab = pd.crosstab(df['Department'], df['City'])
print("\nCross-tabulation of 'Department' and 'City':")
print(cross_tab)

Cross-tabulation of 'Department' and 'City':
City        Boston  Chicago  Los Angeles  New York  San Francisco
Department
HR               1        0            0         1              0
IT               0        1            0         0              1
Marketing        0        0            1         0              0

# Pivot table - create a spreadsheet-style pivot table

In [25]:
pivot_table = pd.pivot_table(df, values='Salary', index='Department', columns='City', aggfunc=np.sum)
print("\nPivot Table (Total Salary by Department and City):")
print(pivot_table)

Pivot Table (Total Salary by Department and City):
City         Boston  Chicago  Los Angeles  New York  San Francisco
Department
HR          55000.0      NaN          NaN   60000.0            NaN
IT              NaN  80000.0          NaN       NaN        75000.0
Marketing       NaN      NaN      90000.0       NaN            NaN

# Missing values - check for missing values

In [26]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Name          0
Age           0
City          0
Salary        0
Department    0
dtype: int64

# Dropna - drop rows with missing values

In [27]:
df_no_missing = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_no_missing)

DataFrame after dropping rows with missing values:
      Name  Age           City  Salary Department
0    Alice   25       New York   60000         HR
1      Bob   30  San Francisco   75000         IT
2  Charlie   35    Los Angeles   90000  Marketing
3    David   40        Chicago   80000         IT
4    Emily   22         Boston   55000         HR

# Subsetting a Dataframe by columns
> Subsetting a DataFrame by columns in Pandas involves selecting specific columns based on their names. Here's a sample code demonstrating how to subset a DataFrame by columns:

In [28]:
 import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston'],
    'Salary': [60000, 75000, 90000, 80000, 55000],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'HR']
}

df = pd.DataFrame(data)

# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

# Subsetting by columns
selected_columns = ['Name', 'Age', 'Salary']
subset_df = df[selected_columns]

# Displaying the subset DataFrame
print("\nSubset DataFrame (Selected Columns):")
print(subset_df)

Original DataFrame:
      Name  Age           City  Salary Department
0    Alice   25       New York   60000         HR
1      Bob   30  San Francisco   75000         IT
2  Charlie   35    Los Angeles   90000  Marketing
3    David   40        Chicago   80000         IT
4    Emily   22         Boston   55000         HR

Subset DataFrame (Selected Columns):
      Name  Age  Salary
0    Alice   25   60000
1      Bob   30   75000
2  Charlie   35   90000
3    David   40   80000
4    Emily   22   55000

In this example, the selected_columns list contains the names of the columns you want to select. The subset DataFrame (subset_df) is created by indexing the original DataFrame (df) with the list of selected columns.

> Adjust the selected_columns list based on the columns you want to include in your subset. This approach allows you to easily choose a specific subset of columns from your DataFrame.

# Subsetting a DataFrame by rows & columns together
> The .iloc, .loc, and .at methods in Pandas are used for indexing and selecting subsets of data from a DataFrame. Here's a sample code demonstrating how to use these methods to subset rows and columns:

In [29]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston'],
    'Salary': [60000, 75000, 90000, 80000, 55000],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'HR']
}

df = pd.DataFrame(data)

# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City  Salary Department
0    Alice   25       New York   60000         HR
1      Bob   30  San Francisco   75000         IT
2  Charlie   35    Los Angeles   90000  Marketing
3    David   40        Chicago   80000         IT
4    Emily   22         Boston   55000         HR

# Subset using .iloc (integer-location based indexing)

In [30]:
subset_iloc = df.iloc[1:4, 0:3]  # Rows 1 to 3, Columns 0 to 2

# Displaying the subset DataFrame

In [31]:
print("\nSubset DataFrame using .iloc:")
print(subset_iloc)

Subset DataFrame using .iloc:
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

# Subset using .loc (label-based indexing)

In [35]:
subset_loc = df.loc[1:3, ['Name', 'Age', 'City']]  # Rows 1 to 3, Columns 'Name', 'Age', 'City'
subset_loc

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

# Subset using .at (single label location)

In [33]:
value_at = df.at[2, 'Name']  # Value at row 2, column 'Name'

In [34]:
# Displaying the subset value
print("\nValue using .at:")
print(value_at)

Value using .at:
Charlie

# Merging two Dataframes
> Let's create two sample datasets and then merge them using Pandas. In this example, I'll create two DataFrames representing employee information and department information, and then merge them based on a common key, which is the 'DepartmentID':

In this example:

The employees DataFrame contains information about employees, including their 'EmployeeID', 'Name', 'DepartmentID', and 'Salary'.
The departments DataFrame contains information about departments, including 'DepartmentID' and 'DepartmentName'.
The DataFrames are merged using pd.merge based on the common key 'DepartmentID' with an inner join.
Feel free to modify the sample datasets or change the merging strategy (e.g., left join, right join, outer join) based on your specific needs.

In [36]:
import pandas as pd

# Creating a sample employee DataFrame
employee_data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'DepartmentID': [101, 102, 101, 103, 102],
    'Salary': [60000, 75000, 90000, 80000, 55000]
}

employees = pd.DataFrame(employee_data)

# Creating a sample department DataFrame
department_data = {
    'DepartmentID': [101, 102, 103, 104],
    'DepartmentName': ['HR', 'IT', 'Marketing', 'Finance']
}

departments = pd.DataFrame(department_data)

# Displaying the original DataFrames
print("Employee DataFrame:")
print(employees)

print("\nDepartment DataFrame:")
print(departments)

# Merging the DataFrames based on the 'DepartmentID' key
merged_df = pd.merge(employees, departments, on='DepartmentID', how='inner')

# Displaying the merged DataFrame
print("\nMerged DataFrame:")
print(merged_df)

Employee DataFrame:
   EmployeeID     Name  DepartmentID  Salary
0           1    Alice           101   60000
1           2      Bob           102   75000
2           3  Charlie           101   90000
3           4    David           103   80000
4           5    Emily           102   55000

Department DataFrame:
   DepartmentID DepartmentName
0           101             HR
1           102             IT
2           103      Marketing
3           104        Finance

Merged DataFrame:
   EmployeeID     Name  DepartmentID  Salary DepartmentName
0           1    Alice           101   60000             HR
1           3  Charlie           101   90000             HR
2           2      Bob           102   75000             IT
3           5    Emily           102   55000             IT
4           4    David           103   80000      Marketing